<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".BlankActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/BlankTheme" />

        <activity
            android:name=".ShortcutHostActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ShortcutPinnedReceiver"
            android:exported="false" />

        <activity-alias
            android:name=".AliasTools"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alias_tools"
            android:label="@string/alias_tools"
            android:targetActivity=".BlankActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".AliasNotes"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alias_notes"
            android:label="@string/alias_notes"
            android:targetActivity=".BlankActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".AliasSpace"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alias_space"
            android:label="@string/alias_space"
            android:targetActivity=".BlankActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
